* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    background: #E5E5E5;
}

/* HEADER */

.header {
    background: #FA8C16;
    color: #fff;
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    margin-left: 60px;
    margin-right: auto;
}

.header-menu {
    display: flex;
    list-style: none;
}

.header-menu-link {
    text-decoration: none;
    color: #fafafa;
    margin-right: 15px;
}

.input-group {
    position: relative;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #d9d9d9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 5px 12px;
    width: 237px;
    height: 32px;
}

.search-input {
    border: 0;
    outline: none;
    height: 100%;
}

.search-button {
    border: 0;
    background-color: transparent;
    outline: none;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-input::-moz-placeholder {color: #BFBFBF;}
.search-input::-webkit-input-placeholder { color: #BFBFBF; }
.search-input:-ms-input-placeholder { color: #BFBFBF; }
.search-input::-ms-input-placeholder { color: #BFBFBF; }
.search-input::placeholder { color: #BFBFBF; }

/* CONTENT */

.content {
    max-width: 1200px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.posts {
    max-width: 800px;
}

.post {
    background-color: #fff;
    border: 1px solid #E8E8E8;
    margin-bottom: 30px;
}

.post-body {
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
}

.post-title {
    margin-bottom: 19px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #262626;
}

.post-text {
    color: #262626;
    margin-top: 20px;
}

.post-texts:first-child {
    margin-top: 0;
}

.tags {
    margin-bottom: 22px;
    margin-top: 12px;
}

.tag {
    color: #BFBFBF;
    margin-right: 10px;
    text-decoration: none;
    cursor: pointer;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #E8E8E8;
    background: #FAFAFA;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.post-footer svg.icon {
    fill: #8C8C8C;
}

.post-buttons {
    display: flex;
    align-items: center;
}

.post-btn {
    background: transparent;
    border:0;
    color: #8C8C8C;
    display: flex;
    align-items: center;
    margin-right: 19px;
    cursor: pointer;
}

.post-authors {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author-about {
    text-align: right;
}

.author-username {
    display: block;
}

.author-avatar {
    width: 34px;
    height: 34px;
    margin-left: 9px;
    border-radius: 4px;
}

.author-username {
    font-size: 12px;
    line-height: 20px;
    color: #8C8C8C;
    text-decoration: none;
}

.post-time {
    font-size: 12px;
    line-height: 20px;
    color: #BFBFBF;
}

.icon-like, .icon-comments {
    margin-right: 6px;
}

/* SIDEBAR */
